/* Responsive media classes start ========== */

@media screen and (max-width: 1600px) {
    .road_map .road_map_main ul li .road_map_box .dot,
    .road_map .road_map_main ul li .road_map_box:before {
      right: -94px;
    }
    .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
    .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
      left: -92px;
    }
}

@media(max-width: 1366px) {
  .technical_team .team_img+p,
  .advisors_board .team_img+p {
    font-size: 22px;
  }
  .technical_team .team_img+p span,
  .advisors_board .team_img+p span {
    font-size: 17px;
  }
  #header ul.menus li a {
    font-size: 20px;
  }
  .navbar-brand img {
    height: 85px;
  }
}

@media screen and (max-width: 1200px) {
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box:before {
    right: -110px;
  }
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
    left: -108px;
  }
  #problem_statement h2 {
    font-size: 26px;
  }
  #problem_statement h3 {
    font-size: 24px;
  }
  #problem_statement p {
    margin-top: 15px;
  }
  #header ul.menus li a, #header ul + ul li a {
    font-size: 16px;
    padding: 0;
  }
  #header .navbar-expand-lg .navbar-nav .nav-link.white_paper_btn {
    padding: 12px 29px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  .road_map .road_map_main ul li .road_map_box {
    max-width: 470px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .header_subscribe .mobile-app {
    margin-top: 80px;
  }  
  .kimlic_documents h3 {
    font-size: 23px;
  }
  .token_details_box ul li span {
    width: 46%;
  }
  .road_map .road_map_main ul li .road_map_box {
    max-width: 380px;
  }
  .road_map .road_map_main ul li .road_map_box h4 {
    font-size: 22px;
  }
  .road_map .road_map_main ul li .road_map_box p {
    font-size: 18px;
  }
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box:before {
    right: -112px;
  }
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
    left: -109px;
  }
  .title span {
    font-size: 25px;
  }
  .footer ul li {
    font-size: 14px;
  }  
}

@media screen and (max-width: 1124px){
  .navbar-brand img {
    height: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box:before {
    right: -192px;
  }
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
    left: -190px;
  }  
}

@media screen and (min-width: 991px) and (max-width: 1023px){
  .navbar-brand img {
    height: 55px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header_subscribe h1 {
    font-size: 40px;
  }
  .header_subscribe .mobile-app {
    margin-top: 80px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 24px;
    line-height: 35px;
  }
  .Kimlic_features h2 {
    font-size: 25px;
  }
  .Kimlic_features h2 span {
    font-size: 32px;
  }
  .kimlic-work-row img {
    max-height: 180px;
  }
  .Kimlic_features p {
    font-size: 16px;
    margin-top: 14px;
  }
  .Kimlic_works .work_section,
  .token_details_box ul li {
    font-size: 18px;
  }
  .kimlic_documents h3 {
    font-size: 19px;
    line-height: 34px;
  }
  .token_details_box {
    margin-bottom: 30px;
  }
  .road_map .road_map_main ul li .road_map_box {
    max-width: 300px;
  }
  .road_map .road_map_main ul li .road_map_box h4 {
    font-size: 20px;
  }
  .road_map .road_map_main ul li .road_map_box p {
    font-size: 15px;
  }
  .technical_team h1 span {
    font-size: 26px;
  }
  .technical_team .team_img+p,
  .advisors_board .team_img+p,
  .technical_team .team_img+p span,
  .advisors_board .team_img+p span {
    font-size: 16px;
  }
  .technical_team {
    padding: 50px 0 0;
  }
  .title span {
    font-size: 28px;
  }
  .kimlic_mailing_list .form-group {
    width: 92%;
  }
  .footer ul li,
  .footer ul.community li {
    width: 100%;
  }
  header nav .navbar-toggler-icon {
    color: #fff;
  }
  header nav.navbar .navbar-collapse {
    display: none;
  }
  #our_Solution {
    padding: 50px 0 50px;
  }
  #problem_statement {
    padding: 50px 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 991px) {
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box:before {
    right: -87px;
  }
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
    left: -84px;
  }
  .Soft-Cap,
  .Hard-Cap {
    font-size: 16px;
  }
    #Sidebar {
    position: fixed;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 270px;
    right: -270px;
    top: 0;
    height: 100%;
    overflow: auto;
    background: #333;
    display: block;
  }
  .open_nav #Sidebar {
    right: 0;
  }
  .close_navbar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
  }
  .menus li a, .language_dropdown .nav-link {
    font-size: 18px;
  }
  .navbar-nav li {
    padding: 0 20px;
    margin-top: 20px;
  }
  #navbarDropdown {
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .fixed-header {
    height: auto;
  }
  .header_subscribe {
    padding-top: 100px;
  }
  .header_subscribe .mobile-app {
    margin-top: 50px;
  }
  #partners,
  #advisors_board .title {
    margin-top: 0;
  }
  .header_subscribe h3 {
    font-size: 17px
  }
  .header_newsletter {
    max-width: 95%;
  }
  .header_newsletter .form-control {
    padding: 12px;
    font-size: 16px;
    width: 100%;
  }
  .header_newsletter button {
    font-size: 15px;
    padding: 10px 20px;
  }
  .title {
    font-size: 30px;
    padding: 20px 0 10px;
  }
  .subtitle {
    font-size: 19px;
    line-height: 30px;
  }
  .road_map .road_map_main::after,
  .road_map .road_map_main ul li .road_map_box::before,
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box::after {
    display: none;
  }
  #problem_statement img {
    margin: 20px auto 10px;
  }
  #problem_statement h2,
  .Kimlic_features h2 span {
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
  }
  #problem_statement h3,
  .Kimlic_features h2 {
    font-size: 22px;
    text-align: center;
  }
  #problem_statement p,
  .Kimlic_features p {
    text-align: center;
    font-size: 18px;
  }
  #our_Solution {
    padding-top: 0;
  }
  .Kimlic_works .btn-group {
    width: 98%;
  }
  .Kimlic_works .btn-group button.btn {
    font-size: 18px;
    white-space: normal;
    padding: 8px 0;
  }
  .header_subscribe h1,
  .title span {
    font-size: 24px;
  }
  .kimlic_documents h1 {
    font-size: 30px;
    text-align: center;
  }
  .kimlic_documents h3 {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .kimlic_documents h3 a {
    width: 100%;
    max-width: 170px;
    float: none;
    margin: 0 auto 30px;
    display: block;
  }
  .fund_allocation img {
    max-width: 100%;
    margin-bottom: 70px;
  }
  .token_details_box {
    width: 90%;
    margin: 0 auto;
    padding: 10px 15px 40px;
    margin-bottom: 40px;
  }
  .token_details_box ul li {
    font-size: 20px;
  }
  .token_details_box ul li span {
    float: none;
    width: 100%;
    display: block;
  }
  .road_map .road_map_main ul {
    margin: 30px 0 0;
    padding: 70px 0;
  }
  .road_map .road_map_main ul li .road_map_box {
    max-width: 480px;
    margin: 0 auto;
    width: 90%;
  }
  .road_map .road_map_main ul li:nth-child(2n+1) .road_map_box {
    float: none;
  }
  .road_map .road_map_main ul li,
  .road_map .road_map_main ul.blue_year {
    margin-top: 30px;
    padding: 20px 0;
  }
  .road_map .road_map_main ul li .road_map_box p,
  .Kimlic_works .work_section p {
    font-size: 18px;
  }
  .road_map .road_map_main ul li .road_map_box h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .road_map .road_map_main ul li .road_map_box p,
  .events-slider {
    margin: 0;
  }
  .kimlic_mailing_list .form-group {
    width: 95%;
  }
  .kimlic_mailing_list input[type="email"] {
    padding: 14px 16px;
    font-size: 13px;
  }
  .kimlic_mailing_list button {
    right: 6px;
    top: 6px;
    font-size: 14px;
    padding: 8px 0;
    max-width: 100px;
  }
  .footer {
    margin-top: 25px;
    padding: 50px 0;
    text-align: center;
  }
  .footer h4 {
    margin: 0 0 15px;
  }
  header .navbar-brand {
    max-width: 150px;
    margin: 0;
  }
  header .navbar-brand img {
    height: 60px;
  }
  header nav.navbar {
    padding: 0 10px;
  }
  .navbar-toggler {
    padding: 0;
    margin-top: 15px;
  }
  header nav .navbar-toggler-icon {
    color: var(--white);
  }
  .white_paper_btn {
    font-size: 17px;
  }
  .fadeInUp,
  .fadeInLeft,
  .fadeInRight {
    opacity: 1;
    animation-name: none;
    -webkit-animation-name: none;
  }  
  #problem_statement {
    margin-top: 35px;
  }
  .footer ul li {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .footer ul.community {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 280px;
    margin: 0 auto 45px;
  }
  .footer ul.community li {
    text-align: left;
  }
  .footer ul.company {
    margin-bottom: 45px;
  }
  .technical_team {
    padding: 20px 0 0;
  }
  .Kimlic_works ul.nav.nav-pills {
    width: 100%;
    margin: 10px auto 0;
  }
  .kimlic_documents img {
    max-height: 300px;
  }
  .Kimlic_features .row,
  .Kimlic_features .row .col-lg-5 {
    margin-bottom: 30px;
  }
  .Kimlic_features .row .col-lg-5:last-child,
  #problem_statement .title,
  #technical_team .row .col-12:last-child p,
  #advisors_board .row .col-12:last-child p {
    margin-bottom: 0;
  }  
  #kimlic_mailing_list .title span {
    font-size: 20px;
    line-height: 25px;
    display: block;
    margin: 10px 0;
    letter-spacing: 0;
  }
  .event-card-head img {
    max-width: 100%;
  }
  ul.products li a {
    text-align: center;
    width: 100%;
  }
  .get-token {
    min-height: 50px;
    line-height: 50px;
    font-size: 20px;
    max-width: 260px;
  }
  .technical_team h1 span {
    line-height: 28px;
    font-size: 24px;
  }
  .show_all_team {
    width: 260px;
    min-height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0;
    margin-bottom: 40px;
  }
  .header_subscribe h1 {
    letter-spacing: -1px;
  }
  .review-box h1 {
    font-size: 44px;
    letter-spacing: 0;
  }
  #Financial_Institutions .title {
    padding-top: 0;
    font-size: 25px;
  }
  .telegram_chat img {
    width: 50px;
  }
  #technologies img {
    max-height: 66px;
    max-width: 66px;
  }
}

@media screen and (max-width: 575px){
  .Kimlic_works .work_section h1,
  .Kimlic_works .work_section p,
  .learn-more-button {
    text-align: center;
  }
  #technologies img {
    max-height: 66px;
    max-width: 100px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .header_newsletter {
    max-width: 90%;
    margin: 0 auto 80px;
  }
  .header_newsletter .form-control,
  .kimlic_mailing_list input[type="email"] {
    border-radius: 8px 8px 0 0;
    border-bottom-color: transparent;
  }
  .header_newsletter button,
  .kimlic_mailing_list button {
    padding: 14px 20px;
    width: 100%;
    max-width: 100%;
    border-radius: 0 0 8px 8px;
    top: 50px;
    left: 0;
  }
  .Soft-Cap,
  .Hard-Cap {
    font-size: 12px;
  }
  .event-card {
    max-width: 250px;
  }
  .owl-nav i {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .owl-prev {
    left: -15px;
  }
  .owl-next {
    right: -15px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1380px;
  }
}