/* Responsive media classes start ========== */

@media screen and (max-width: 1600px) {
.road_map .road_map_main ul li .road_map_box .dot,
.road_map .road_map_main ul li .road_map_box:before {
  right: -94px;
}
.road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
.road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
  left: -92px;
}
}

@media screen and (min-width: 1580px) and (max-width: 1600px) {
#header_banner {
  background-position: center 0;
}
.advisors_board:after,
.technical_team:after {
  background-position: center 130%;
}
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #header_banner {
    background-size: cover;
    background-position: center 0;
  }
  #partners {
    margin-top: -20px;
  }
  .advisors_board:after,
  .technical_team:after,
  .fund_allocation:after {
    background-position: center 112%;
  }
  .kimlic_documents {
    min-height: 1000px;
  }
  .fund_allocation {
    padding-bottom: 30px;
  }
  #header ul.menus li a {
    font-size: 22px;
  }
}

@media(max-width: 1366px) {
  .advisors_board {
    padding-bottom: 0;
  }
  .technical_team .team_img+p,
  .advisors_board .team_img+p {
    font-size: 22px;
  }
  .technical_team .team_img+p span,
  .advisors_board .team_img+p span {
    font-size: 17px;
  }
  .market_size{
    padding:0px 0 90px;
  }
  .market_size:before {
    left: -3px;
  }
  .market_size:after {
    left: -3px;
  }
  #advisors_board:after {
    bottom: -2px;
  }
  #header ul.menus li a {
    font-size: 20px;
  }
  .navbar-brand img {
    height: 85px;
  }
}

@media screen and (min-width: 1201px) and (max-width:1290px){
  #header ul.menus li a, #header ul + ul li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box:before {
    right: -110px;
  }
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
    left: -108px;
  }
  #problem_statement h2 {
    font-size: 26px;
  }
  #problem_statement h3 {
    font-size: 24px;
  }
  #problem_statement p {
    margin-top: 15px;
  }
  header .header_top_menu {
    max-width: 430px;
  }
  #header ul.menus li a, #header ul + ul li a {
    font-size: 16px;
  }
  #advisors_board {
      padding: 0 0 150px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  .road_map .road_map_main ul li .road_map_box {
    max-width: 470px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .header_subscribe .mobile-app {
    margin-top: 80px;
  }
  #partners {
    margin-top: -30px;
  }
  #header_banner {
    background-size: auto 100%;
    background-position: center 0;
  }
  .our_solution img {
    height: 817px;
  }
  .kimlic_documents {
    background-size: 100% auto, cover;
    min-height: auto;
    margin-top: 0;
    padding: 50px 0 150px;
  }
  .kimlic_documents h3 {
    font-size: 23px;
  }
  .fund_allocation .token_details_box ul li span {
    width: 46%;
  }
  .road_map .road_map_main ul li .road_map_box {
    max-width: 380px;
  }
  .road_map .road_map_main ul li .road_map_box h4 {
    font-size: 22px;
  }
  .road_map .road_map_main ul li .road_map_box p {
    font-size: 18px;
  }
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box:before {
    right: -112px;
  }
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
    left: -109px;
  }
  .technical_team:after {
    background-position: center 106%;
  }
  .advisors_board:after {
    background-position: center 102%;
  }
  .title span {
    font-size: 25px;
  }
  footer.footer ul li {
    font-size: 14px;
  }
  .fund_allocation:after {
    background-position: center 117%;
  }
  .market_size:after {
    background-size: 101% auto;
    left: -3px;
    right: 0;
    bottom: -68px;
    overflow-x: hidden;
    height: 185px;
  }
  .market_size:before {
    background-size: 101% auto;
    left: 0;
    right: 0;
    top: -100px;
    height: 185px;
    overflow-x: hidden;
  }
  #advisors_board:after {
    background-size: 101% auto;
    width: 100%;
    bottom: -30px;
    left: 0;
    height: 150px;
    overflow-x: hidden;
  }
  #advisors_board:before {
    background-size: 101% auto;
    width: 100%;
    top: -110px;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 150px;
  }
  .kimlic_documents:before {
    background-position: top;
    background-size: 101% auto;
    left: 0;
    top: -90px;
    right: 0;
    overflow-x: hidden;
    height: 165px;
  }
  .kimlic_documents:after {
    background-position: bottom;
    background-size: 101% auto;
    left: 0;
    bottom: -0.9%;
    right: 0;
    overflow-x: hidden;
  }
  .road_map::after {
    left: 0;
    right: 0;
    bottom: -86px;
    height: 178px;
    background-size: 101% auto;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1124px){
  .navbar-brand img {
    height: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box:before {
    right: -192px;
  }
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
    left: -190px;
  }
  .market_size:after,
  .market_size:before,
  #advisors_board:after,
  #advisors_board:before,
  .kimlic_documents:before,
  .kimlic_documents:after,
  .road_map::after,
  .fund_allocation:after {
    display: none;
  }
}

@media screen and (min-width: 991px) and (max-width: 1023px){
  .navbar-brand img {
    height: 55px;
  }
  #header ul.menus li a, #header ul + ul li a {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header_subscribe h1 {
    font-size: 40px;
  }
  .header_subscribe .mobile-app {
    margin-top: 80px;
  }
  #header_banner {
    background-size: cover;
    background-position: center 0;
  }
  #partners {
    margin-top: -30px;
  }
  .title {
    font-size: 40px;
    padding: 0px 0;
  }
  .subtitle {
    font-size: 24px;
    line-height: 35px;
  }
  .our_solution img {
    height: 600px;
  }
  .Kimlic_features h2 {
    font-size: 30px;
  }
  .Kimlic_features p {
    font-size: 16px;
    margin-top: 14px;
  }
  .Kimlic_works .work_section h3 {
    font-size: 21px;
  }
  .Kimlic_works .work_section {
    font-size: 18px;
  }
  .Kimlic_works .work_section .row {
    padding: 5px 0 0px 50px;
  }
  .kimlic_documents {
    min-height: 750px;
    padding: 80px 0;
    margin-top: 0;
  }
  .kimlic_documents:after {
    top: 2px;
  }
  .kimlic_documents h3 {
    font-size: 21px;
    line-height: 45px;
  }
  .fund_allocation {
    padding-bottom: 50px;
  }
  .fund_allocation:after {
    background-position: center 114%;
  }
  .fund_allocation .token_details_box ul li {
    font-size: 18px;
  }
  .fund_allocation .token_details_box {
    margin-bottom: 30px;
  }
  .road_map .road_map_main ul li .road_map_box {
    max-width: 300px;
  }
  .road_map .road_map_main ul li .road_map_box h4 {
    font-size: 20px;
  }
  .road_map .road_map_main ul li .road_map_box p {
    font-size: 15px;
  }
  .technical_team h1 span {
    font-size: 26px;
  }
  .technical_team .team_img+p,
  .advisors_board .team_img+p {
    font-size: 16px;
  }
  .technical_team .team_img+p span,
  .advisors_board .team_img+p span {
    font-size: 16px;
  }
  .technical_team {
    padding: 50px 0 0;
  }
  .technical_team:after {
    background-position: center 106%;
    top: 2px;
    background-size: 101% auto;
  }
  .title span {
    font-size: 28px;
  }
  .advisors_board {
    overflow: hidden;
    padding: 0;
  }
  .advisors_board:after {
    background-position: center 103%;
    top: 5px;
  }
  .kimlic_mailing_list .form-group {
    width: 92%;
  }
  footer.footer ul li {
    width: 100%;
  }
  header nav .navbar-toggler-icon {
    color: #fff;
  }
  header nav.navbar .navbar-collapse {
    display: none;
  }
  #advisors_board{
    margin-top: 0px !important; 
  }
  #advisors_board,
  #technical_team, 
  #kimlic_token_distribution,
  #our_Solution {
    padding: 50px 0 50px;
  }
  .market_size, #problem_statement {
    padding: 50px 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 991px) {
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box:before {
    right: -87px;
  }
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot,
  .road_map .road_map_main ul li:nth-child(odd) .road_map_box:before {
    left: -84px;
  }
  header .header_top_menu ul.menus {
    margin: 12% auto;
  }
  header .header_top_menu ul.menus li a {
    font-size: 24px;
  }
  .Soft-Cap,
  .Hard-Cap {
    font-size: 16px;
  }
    #Sidebar {
    position: fixed;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 270px;
    right: -270px;
    top: 0;
    height: 100%;
    overflow: auto;
    background: #333;
    display: block;
  }
  .open_nav #Sidebar {
    right: 0;
  }
  .close_navbar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
  }
  .menus li a, .language_dropdown .nav-link {
    font-size: 18px;
  }
  .menus li a.active {
    border-bottom-color: transparent; 
  }
  .navbar-nav li {
    padding: 0 20px;
    margin-top: 20px;
  }
  #navbarDropdown {
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .fixed-header {
    height: auto;
  }
  .market_size {
      margin-top: 50px;
  }
  .fund_allocation img {
    max-width: 80%;
    margin-bottom: 70px;
  }
  .header_subscribe {
    padding-top: 100px;
  }
  .header_subscribe .mobile-app {
    margin-top: 50px;
  }
  #header_banner {
    background-size: cover;
    background-position: center bottom;
  }
  #partners {
    margin-top: -10px;
  }
  .header_subscribe h3 {
    font-size: 17px
  }
  .header_newsletter {
    max-width: 95%;
  }
  .header_newsletter .form-control {
    padding: 12px;
    font-size: 16px;
    width: 100%;
  }
  .header_newsletter button {
    font-size: 15px;
    padding: 10px 20px;
  }
  .title {
    font-size: 30px;
    padding: 20px 0 10px;
  }
  .subtitle {
    font-size: 19px;
    line-height: 30px;
  }
  #partners h3~br,
  .road_map .road_map_main::after,
  .road_map .road_map_main ul li .road_map_box::before,
  .road_map .road_map_main ul li .road_map_box .dot,
  .road_map .road_map_main ul li .road_map_box::after {
    display: none;
  }
  #problem_statement img {
    display: block;
    margin: 20px auto 10px;
    max-width: 160px;
    max-height: 130px;
  }
  #problem_statement h2,
  .Kimlic_features h2 span {
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
  }
  #problem_statement h3,
  .Kimlic_features h2 {
    font-size: 22px;
    text-align: center;
  }
  #problem_statement p,
  .Kimlic_features p {
    text-align: center;
    font-size: 18px;
  }
  .our_solution img {
    height: auto;
  }
  .our_solution::after {
    height: 72%;
  }
  #our_Solution {
    padding-top: 0;
  }
  #advisors_board {
    padding: 50px 0;
    margin-top: 50px !important;
  }
  .Kimlic_works .btn-group {
    width: 98%;
  }
  .Kimlic_works .btn-group button.btn {
    font-size: 18px;
    white-space: normal;
    padding: 8px 0;
  }
  .Kimlic_works .work_section h3,
  .header_subscribe h1,
  .title span {
    font-size: 24px;
  }
  .Kimlic_works .work_section .row .circle {
    width: 35px;
    height: 35px;
    left: 15px;
    top: 2px;
    line-height: 35px;
    font-size: 16px;
  }
  .kimlic_documents {
    padding: 50px 0;
    min-height: 600px;
    margin-top: 0;
  }
  .kimlic_documents h1 {
    font-size: 30px;
    text-align: center;
  }
  .kimlic_documents h3 {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .kimlic_documents h3 a {
    width: 100%;
    max-width: 170px;
    float: none;
    margin: 0 auto 30px;
    display: block;
  }
  .fund_allocation img,
  .kimlic_token_distribution img {
    max-width: 100%;
    margin-left: 0 !important;
  }
  .fund_allocation .token_details_box {
    width: 90%;
    margin: 0 auto;
    padding: 10px 15px 40px;
    margin-bottom: 40px;
  }
  .fund_allocation .token_details_box ul li {
    font-size: 20px;
  }
  .fund_allocation .token_details_box ul li span {
    float: none;
    width: 100%;
    display: block;
  }
  .road_map .road_map_main ul {
    margin: 30px 0 0;
    padding: 70px 0;
  }
  .road_map .road_map_main ul li .road_map_box {
    max-width: 480px;
    margin: 0 auto;
    width: 90%;
  }
  .road_map .road_map_main ul li:nth-child(2n+1) .road_map_box {
    float: none;
  }
  .road_map .road_map_main ul li,
  .road_map .road_map_main ul.blue_year {
    margin-top: 30px;
    padding: 20px 0;
  }
  .road_map .road_map_main ul li .road_map_box p,
  .Kimlic_works .work_section p {
    font-size: 18px;
  }
  .road_map .road_map_main ul li .road_map_box h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .road_map .road_map_main ul li .road_map_box p {
    margin: 0;
  }
  .kimlic_mailing_list .form-group {
    width: 95%;
  }
  .kimlic_mailing_list input[type="email"] {
    padding: 14px 16px;
    font-size: 13px;
  }
  .kimlic_mailing_list button {
    right: 6px;
    top: 6px;
    font-size: 14px;
    padding: 8px 0;
    max-width: 100px;
  }
  footer.footer {
    margin-top: 25px;
    padding: 50px 0;
    text-align: center;
  }
  footer.footer h4 {
    margin: 0 0 15px;
  }
  header .navbar-brand {
    max-width: 150px;
    margin: 0;
  }
  header .navbar-brand img {
    height: 60px;
  }
  header nav.navbar {
    padding: 0 10px;
  }
  .navbar-toggler {
    padding: 0;
    margin-top: 15px;
  }
  header nav .navbar-toggler-icon {
    color: #fff;
  }
  .white_paper_btn {
    font-size: 17px;
  }
  .fadeInUp,
  .fadeInLeft,
  .fadeInRight {
    opacity: 1;
    animation-name: none;
    -webkit-animation-name: none;
  }
  .Kimlic_works ul.nav.nav-pills li a {
    font-size: 16px;
  }
  .kimlic_documents:after {
    top: auto;
    bottom: -2px;
  }
  .technical_team h1 span {
    font-size: 24px;
  }
  #problem_statement {
    margin-top: 35px;
  }
  .kimlic_documents h1+h3 {
    margin-bottom: 20px;
  }
  footer.footer ul li {
    width: 100%;
    float: none;
    text-align: center;
    display: inline-block;
  }
  footer.footer ul.community {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin: 0 auto 45px;
  }
  footer.footer ul.community li {
    width: 50%;
    display: block;
    text-align: left;
  }
  footer.footer ul.company {
    margin-bottom: 45px;
  }
  footer.footer ul.company li a {
    display: block;
    width: 100%;
  }
  #technical_team .row .col-12 p {
    margin-bottom: 3rem;
  }
  .technical_team {
    padding: 20px 0 0;
  }
  .advisors_board {
    padding-bottom: 0;
  }
  .Kimlic_works .work_section .row .line {
    top: 4px;
    left: 32px;
  }
  .Kimlic_works .work_section .row {
    padding: 5px 20px 30px 60px;
  }
  .Kimlic_works ul.nav.nav-pills {
    width: 100%;
    margin: 10px auto 0;
  }
  .Kimlic_works ul.nav.nav-pills li {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 15px 10px;
  }
  .kimlic_documents img {
    max-height: 300px;
  }
  .Kimlic_features .row,
  .Kimlic_features .row .col-lg-5 {
    margin-bottom: 30px;
  }
  .Kimlic_features .row .col-lg-5:last-child,
  #problem_statement .title,
  #technical_team .row .col-12:last-child p,
  #advisors_board .row .col-12:last-child p {
    margin-bottom: 0;
  }
  #advisors_board .title{
    padding-top: 0;
  }
  #kimlic_mailing_list .title span {
    font-size: 20px;
    line-height: 25px;
    display: block;
    margin: 10px 0;
    letter-spacing: 0;
  }
  .open .all_team,
  .open .all_advisors {
    max-height: 100%;
  }
  #partners a {
    margin: 10px auto;
    max-width: 100px;
  }
  .event-card {
    margin-bottom: 1em;
  }
  .event-card-head img {
    width: 100%;
    max-width: 100%;
  }
  ul.products li a {
    text-align: center;
    width: 100%;
  }
  .get-token {
    min-height: 50px;
    line-height: 50px;
    font-size: 20px;
    max-width: 260px;
  }
  .technical_team h1 span {
    line-height: 28px;
  }
  .show_all_team {
    width: 260px;
    min-height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0;
  }
  #technical_team {
    padding: 50px 0 80px;
  }
  .header_subscribe h1 {
    letter-spacing: -1px;
  }
  .review-box h1 {
    font-size: 44px;
    letter-spacing: 0;
  }
  #Financial_Institutions .title {
    padding-top: 0;
  }
  #Financial_Institutions img {
    margin-top: 30px;
  }
  #road_map {
      margin-top: 20px !important;
      padding-bottom: 20px;
  }
  #events_attend {
      margin-top: 20px !important;
  }
  .market_size {
    padding: 50px 0 80px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .technical_team .team_img+p,
  .advisors_board .team_img+p {
    font-size: 20px;
    line-height: 25px;
  }
  .technical_team .team_img+p span,
  .advisors_board .team_img+p span {
    font-size: 16px;
  }
  footer.footer ul li {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
  }
  footer.footer ul li img {
    top: 0;
  }
  .Kimlic_works .tab-content .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%
  }
  .our_solution img {
    height: 450px;
  }
  .kimlic_token_distribution img {
    max-width: 100%;
    margin-left: 0;
  }
  #problem_statement h2,
  .Kimlic_features h2 {
    font-size: 26px;
    margin-top: 10px;
  }
  .Kimlic_features .row {
    margin-bottom: 10px;
  }
  .road_map .road_map_main ul.blue_year {
    padding: 0 0 50px;
  }
  .road_map .road_map_main ul li .road_map_box {
    width: 98%;
    max-width: 488px;
  }
  .Kimlic_works .work_section h3 {
    font-size: 20px;
  }
  .Kimlic_works .work_section {
    font-size: 18px;
  }
  .navbar-toggler {
    font-size: 26px;
    line-height: 40px;
  }
  .kimlic_documents h1+h3 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575px){
  .Kimlic_works .work_section h1,
  .Kimlic_works .work_section p,
  .learn-more-button {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .header_newsletter {
    max-width: 90%;
    margin: 0 auto 80px;
  }
  .header_newsletter .form-control,
  .kimlic_mailing_list input[type="email"] {
    border-radius: 8px 8px 0 0;
    border-bottom-color: transparent;
  }
  .header_newsletter button,
  .kimlic_mailing_list button {
    padding: 14px 20px;
    width: 100%;
    max-width: 100%;
    border-radius: 0 0 8px 8px;
    top: 50px;
    left: 0;
  }
  .Soft-Cap,
  .Hard-Cap {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .our_solution .solution-img:after {
    height: 56%;
  }
}
@media (max-width: 375px) {
  .our_solution .solution-img:after {
    height: 57%;
  }
}
@media (max-width: 340px) {
  .our_solution .solution-img:after {
    height: 55.4%;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1380px;
  }
}