/* Global Css Start */
body{
	margin:0;
	padding: 0;
	font-family: 'muliregular';
  background: #f6f8fb;
}
a, button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}
button:hover, button:focus,
.btn:focus, .btn:active:focus, .btn.active:focus, 
.btn.focus, .btn:active.focus, .btn.active.focus,
:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
/* Global Css End */
.navbar {
	padding: 0.5rem 2rem;
}
.fixed-header {
  background: #DF81FF;
  height: 80px;
}
header .header_top_menu {
  background: #333;
  width: 100%;
  max-width: 480px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 9999;
  display: block;
  text-align: center;
  padding: 24px 0 0 50px;
  transition: right ease-in-out 0.5s;
  -webkit-transition: right ease-in-out 0.5s;
  -ms-transition: right ease-in-out 0.5s;
}
header .header_top_menu.open {
  right: 0;
}
header .header_top_menu ul{
  margin: 0;
  padding: 0;
  display: block;
}
header .header_top_menu ul.menus{
  margin: 30% auto 0;
}
header .header_top_menu ul.menus li{
  list-style: none;
  display: block;
  font-size: 30px;
  margin: 30px 0;
  text-transform: uppercase;
}
header .header_top_menu ul.menus li a{
  color: #fff;
}
header .header_top_menu ul.menus li a:hover{
  color: #00afff;
}
header .header_top_menu ul.header_menu_bttn li {
  display: inline-block;
  list-style: none;
  float: left;
}
header .header_top_menu ul.header_menu_bttn li .white_paper_btn {
  background: #fff;
  color: #333;
  width: 145px;
  border-radius: 50px;
  display: block;
  margin: 0 0 0 9px;
  padding: 4px 10px;
}
header .header_top_menu ul.header_menu_bttn li.language_dropdown .nav-link {
  width: 151px;
  display: block;
  background: #fff;
  color: #333;
  margin: 0px 0 0 19px;
  padding: 3px 0;
}
header .header_top_menu ul.header_menu_bttn li.language_dropdown .flag{
  margin-right: 19px;
}
header .header_top_menu ul.header_menu_bttn li .fa-close {
  font-size: 35px;
  color: #fff;
  margin: 0px 0 0 26px;
}
header .header_top_menu .navbar-nav .dropdown-menu{
  position: absolute;
}
.white_paper_btn {
  font-size: 20px;
  color: #fefeff;
  background: url("../images/svg/white_paper_button.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.white_paper_btn:hover {
  color: #fff;    
}
.navbar-expand-lg .navbar-nav .nav-link.white_paper_btn {
  padding: 11px 23px 17px;
  line-height: 16px;
}
.flag {
  display: inline-block;
  vertical-align: top;
  width: 28px;
  height: 28px;
  margin-right: 4px;
}
.flag img {
  max-width: 28px;
  vertical-align: top;
}
.language_dropdown .dropdown-toggle::after {
	display: none;
}
.language_dropdown .nav-link {
	color: #fefeff;
	font-size: 20px;
	border-radius: 40px;
    border: 1px solid #fff;
}
#navbarDropdown {
	padding: 3px 6px;
	margin: 0 20px 0 10px;
}
#navbarDropdown i {
  font-size: 25px;
  position: relative;
  top: 2px;
  margin-left: 5px;
  margin-right: 6px;
}
.language_dropdown .dropdown-item {
	padding: .25rem 6px;
}

#header_banner {
	position: relative;
	background: url("../images/svg/background_degradient.svg") no-repeat center 0;
  background-size: 100% auto;
	width: 100%;
}
.header_subscribe {
    padding-top: 150px;
}
.header_subscribe h1 {
	color: #fefeff;
	font-size: 52px;
	text-align: center;
	margin-bottom: 20px;
}
.header_subscribe h3 {
	color: #fefeff;
	font-size: 22px;
	margin: 0 0 15px;
	text-align: center;
}
.header_subscribe form {
    max-width: 550px;
    margin: 0 auto;
    width: 100%;   
    padding: 30px 0 0;
}
.header_subscribe form .form-group {
    position: relative;
}
.header_subscribe form .form-control {
  box-shadow: none;
  background: transparent;
  border-color: #fff;
  border-radius: 40px;
  padding: 12px 30px;
  color: #fefeff;
  font-size: 22px;
}
.header_subscribe form button {
  position: absolute;
  right: 5px;
  top: 4px;
  background: #9cb500;
  color: #fefeff;
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  padding: 9px 20px;
  cursor: pointer;
}
.header_subscribe ::-webkit-input-placeholder {
  color: #fefeff;
}
.header_subscribe ::-moz-placeholder {
  color: #fefeff;
}
.header_subscribe :-moz-placeholder {
  color: #fefeff;
}
.header_subscribe ::-ms-input-placeholder {
  color: #fefeff;
}
.header_subscribe :-ms-input-placeholder {
  color: #fefeff;
}
.header_subscribe .mobile-app{
  margin-top: 200px;
}
#partners {
  background: #f6f8fb;
  margin-top: -50px;
  position: relative;
}
.title {
  font-size: 48px;
  color: #415d74;
  text-align: center;
  font-family: 'mulilight';
  margin: 0;
  padding: 30px 0;
}
.title span {
  font-size: 32px;
}
.subtitle {
  color: #819eb6;
  font-size: 30px;
  font-family: 'mulilight';
  text-align: center;
  line-height: 45px;
}
#problem_statement{
  background: #f6f8fb;
}
#problem_statement h2 {
  font-family: 'mulibold';
  font-size: 36px;
  color: #819eb6;
}
#problem_statement h3 {
  font-family: 'mulilight';
  color: #819eb6;
  font-size: 30px;
}
#problem_statement p {
  color: #819eb6;
  font-size: 22px;
  font-family: 'mulilight';
  margin-top: 30px;
}
#our_Solution{
  background: #f6f8fb;
}
.our_solution{
  position: relative;
  z-index: 5;
  padding-top: 70px;
}
#our_Solution:before {
  content: '';
  width: 100%;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
}
.our_solution img{
  height: 1200px;
  margin: 0 auto 59px;
}
.our_solution:after{
  position: absolute;
  content: "";
  width: 100%;
  /*background: url(../images/svg/Solutions_background.svg) no-repeat 0 0 #f6f8fb;*/
  background: linear-gradient(#f6f8fb, #bad7ff);
  background: -webkit-linear-gradient(#f6f8fb, #bad7ff);
  background: -ms-linear-gradient(#f6f8fb, #bad7ff);
  background-size: cover;
  height: 64.2%;
  top: 0;
  left: 0;
  z-index: -1;
}
.Kimlic_features{
  font-family: 'mulilight';
  color: #819eb6;
  padding-top: 70px;
}
.Kimlic_features:before {
  content: '';
  width: 100%;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
}
.Kimlic_features .row{
  margin-bottom: 50px;
}
.Kimlic_features h2{
  font-size: 36px;
  margin-top: 20px;
  font-family:'mulisemibold';
}
.Kimlic_features h2 span{
  color: #00afff;
}
.Kimlic_features p {
  font-size: 22px;
  margin-top: 20px;
}
.Kimlic_features img{
  height: 400px;
}
.Kimlic_works{
  margin-top: 20px;
  padding-top: 70px;
}
.Kimlic_works:before {
  content: '';
  width: 100%;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
}
.Kimlic_works ul.nav.nav-pills {
  width: 80%;
  margin: 0 auto;
}
.Kimlic_works ul.nav.nav-pills li{
  display: block;
  width: 50%;
  text-align: center;
}
.Kimlic_works ul.nav.nav-pills li a {
  display: block;
  color: #d345ff;
  font-size: 22px;
  background: none;
  opacity: 0.6;
  border: #e28efc solid 2px;
  border-radius: 40px 0 0 40px;
  padding: 15px 0;
}
.Kimlic_works ul.nav.nav-pills li a.active{
  opacity: 1;
}
.Kimlic_works ul.nav.nav-pills li:last-child a {
  border-radius: 0 40px 40px 0;
  border-left: none;
}
.Kimlic_works img{
  max-width: 55%;
  margin: 20px 0;
}
.Kimlic_works .work_section .row{
  position: relative;
  padding: 5px 0 30px 50px;
}
.Kimlic_works .work_section .row .line{
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background: #e28efc;
}
.Kimlic_works .work_section .row .circle{
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #fff;
  border: #e28efc solid 2px;
  text-align: center;
  left: -26px;
  top: 0;
  line-height: 55px;
  color: #e28efc;
  font-size: 25px;
  font-weight: 600;
}
.Kimlic_works .work_section{
  color: #819eb6;
  font-size: 22px;
}
.Kimlic_works .work_section h3{
  font-size: 28px;
}
.Kimlic_works .work_section p{
  font-family: 'mulilight';
}
.kimlic_documents{
  /*background: url(../images/svg/documents_block_bckgrd.svg) no-repeat center bottom, url(../images/svg/Documents_Background.svg) no-repeat 0 0;*/
  background: linear-gradient(#e28ffd, #ff6464);
  background: -webkit-linear-gradient(#e28ffd, #ff6464);
  background: -ms-linear-gradient(#e28ffd, #ff6464);
  min-height: 1200px;
  margin-top: 80px;
  padding: 150px 0;
  color: #fff;
  position: relative;
  font-family: 'mulilight';
}
.kimlic_documents:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/svg/documents_block_bckgrd.svg) no-repeat center bottom;
  background-size: 101% auto;
  left: 0;
  top: 0;
}
.kimlic_documents .container{
  position: relative;
  z-index: 2;
}
.kimlic_documents h1{
  color: #fff;
  font-size: 48px;
  text-align: left;
  padding-top: 0;
}
.kimlic_documents h3{
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 15px;
}
.kimlic_documents img{
  max-height: 500px;
}
.kimlic_documents h1 + h3{
  margin-bottom: 50px;
}
.kimlic_documents h3 button{
  border-radius: 30px;
  padding: 4px 24px;
  font-size: 22px;
}
.kimlic_token_distribution img{
  max-width: 80%;
  margin-left: -12%;
}
.fund_allocation{
  background: linear-gradient(#f6f8fb, #d1e1f7);
  background: -webkit-linear-gradient(#f6f8fb, #d1e1f7);
  background: -ms-linear-gradient(#f6f8fb, #d1e1f7);
  /*background: url(../images/svg/Coin_Background.svg) no-repeat center 155%;*/
  background-size: 100% auto;
  min-height: 800px;
  position: relative;
}
.fund_allocation:after{
  background: url(../images/svg/Coin_Background.svg) no-repeat center 144%;
  background-size: 100% auto;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.fund_allocation .container{
  position: relative;
  z-index: 2;
}
.fund_allocation img{
  max-width: 80%;
  margin-bottom: 100px;
}
.fund_allocation .token_details_box{
  background: rgba(255,255,255,0.8);
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
  border-radius: 26px;
  max-width: 962px;
  padding: 10px 80px 40px;
  margin-bottom: 100px;
}
.fund_allocation .token_details_box ul{
  margin: 0;
  padding: 0;
}
.fund_allocation .token_details_box ul li{
  display: block;
  color: #819eb6;
  width: 100%;
  padding: 15px 0;
  font-size: 22px;
  font-family:'mulisemibold';
}
.fund_allocation .token_details_box ul li:not(:last-child){
  border-bottom: #d9eaff solid 1px;
}
.fund_allocation .token_details_box ul li span{
  color: #a1b7c9;
  float: right;
  font-family: 'muliregular';
  width: 50%;
}
.road_map .road_map_main{
  position: relative;
  min-height: 500px;
}
.road_map .road_map_main:after{
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background: #b7d7fe;
  top: 0;
  left: 50%;
  z-index: -1;
}
.road_map .road_map_main ul{
  margin: 0;
  padding: 120px 0;
  position: relative;
  width: 100%;
}
.road_map .road_map_main ul.blue_year{
  padding: 0 0 100px;
  margin-top: -120px;
}
.road_map .road_map_main ul span.year{
  font-size: 24px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  margin: 0 auto;
  width: 110px;
  display: inline-block;
  text-align: center;
  height: 60px;
  line-height: 60px;
  z-index: 1;
  font-family:'mulisemibold';
}
.road_map .road_map_main ul.purple_year span.year{
  border: #a971ff solid 2px;
  color: #a971ff;
}
.road_map .road_map_main ul.blue_year span.year{
  border: #3facfa solid 2px;
  color: #3facfa;
  top: -60px;
}
.road_map .road_map_main ul li{
  width: 100%;
  display: block;
  position: relative;
  width: 100%;
  margin-top: -30px;
}
.road_map .road_map_main ul li .road_map_box{
  width: 100%;
  max-width: 488px;
  background: #fff;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 14px rgba(0,0,0,0.05);
  border: #ebf1f9 solid 3px;
  border-top: none;
  position: relative;
  padding: 30px 20px 10px 30px;
}
.road_map .road_map_main ul li:nth-child(odd) .road_map_box{
  float: right;
}
.road_map .road_map_main ul li .road_map_box .top{
  width: 100%;
  height: 12px;
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.road_map .road_map_main .purple_year li .road_map_box.purple .top{
  background: #c39cfe;
}
.road_map .road_map_main .blue_year li .road_map_box.blue .top{
  background: #95d3ff;
}
.road_map .road_map_main ul li .road_map_box:before{
  position: absolute;
  content: "";
  right: -210px;
  width: 100%;
  top: 50%;
  z-index: -1;
}
.road_map .road_map_main .purple_year li .road_map_box.purple:before{
  border-top: #c39cfe solid 2px;
}
.road_map .road_map_main .blue_year li .road_map_box.blue:before{
  border-top: #95d3ff solid 2px;
}
.road_map .road_map_main ul li:nth-child(odd) .road_map_box:before{
  left: -210px;
  right: auto;
}
.road_map .road_map_main ul li .road_map_box:after{
  width: 22px;
  height: 22px;
  border-radius: 100%;
  position: absolute;
  content: "";
  right: -8px;
  top: 45%;
}
.road_map .road_map_main .purple_year li .road_map_box.purple:after{
  border: #c39cfe solid 5px;
}
.road_map .road_map_main .blue_year li .road_map_box.blue:after{
  border: #95d3ff solid 5px;
}
.road_map .road_map_main ul li:nth-child(odd) .road_map_box:after{
  left: -8px;
  right: auto;
}
.road_map .road_map_main ul li .road_map_box .dot{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  content: "";
  right: -214px;
  top: 47%;
  z-index: 9;
}
.road_map .road_map_main .purple_year li .road_map_box.purple .dot{
  background: #c39cfe;
}
.road_map .road_map_main .blue_year li .road_map_box.blue .dot{
  background: #95d3ff;
}
.road_map .road_map_main ul li:nth-child(odd) .road_map_box .dot{
  left: -211px;
  right: auto;
}
.road_map .road_map_main ul li .road_map_box h4{
  font-size: 24px;
  font-family:'mulisemibold';
  margin-bottom: 20px;
}
.road_map .road_map_main .purple_year li .road_map_box.purple h4{
  color: #a971ff;
}
.road_map .road_map_main .blue_year li .road_map_box.blue h4{
  color: #95d3ff;
}
.road_map .road_map_main ul li .road_map_box p{
  font-size: 22px;
  color: #819eb6;
  font-family: 'mulilight';
  margin-bottom: 6px;
}

.technical_team{
  background: linear-gradient(#9dabff, #8246fd);
  background: -webkit-linear-gradient(#9dabff, #8246fd);
  background: -ms-linear-gradient(#9dabff, #8246fd);
  /*background: url(../images/svg/team_background.svg) no-repeat 0 0;*/
  background-size: cover;
  min-height: 800px;
  padding: 50px 0 70px;
  color: #fff;
  position: relative;
}
.technical_team:after{
  position: absolute;
  content: "";
  background: url(../images/svg/team_Background_Cut.svg) no-repeat center 150%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% auto;
}
.technical_team h1{
  color: #fff;
}
.technical_team h1 span{
  font-size: 32px;
  line-height: 46px;
  display: inline-block;
  margin: 12px 0 0;
}
.technical_team .team_img, 
.advisors_board .team_img{
  width: 100%;
  max-width: 180px;
  height: 100%;
  max-height: 180px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.technical_team .team_img + p img, 
.advisors_board .team_img + p img{
  height: 20px;
  max-width: 100%;
  margin-top: -8px;
}
.technical_team .team_img + p, 
.advisors_board .team_img + p{
  font-size: 24px;
  font-family: 'mulilight';
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
}
.technical_team .team_img + p span, 
.advisors_board .team_img + p span{
  font-size: 20px;
  font-family:'mulisemibold';
}
.technical_team .show_all_team, 
.advisors_board .show_all_team{
  background: #9360fe;
  color: #fff;
  padding: 12px 0;
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  width: 350px;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  font-family: 'mulilight';
}

.advisors_board{
  position: relative;
  min-height: 800px;
  padding-bottom: 40px;
}
.advisors_board:after{
  position: absolute;
  content: "";
  background: url(../images/svg/team_Background_Cut.svg) no-repeat center 150%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% auto;
}
.advisors_board .team_img + p{
  color: #4a6479;
}
.advisors_board .show_all_team{
  background: #839fb7;
  margin: -30px auto 50px;
}
.kimlic_mailing_list .form-group {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.kimlic_mailing_list input[type="email"]{
  box-shadow: none;
  background: #fff;
  border-color: #dbdbdb;
  border-radius: 40px;
  padding: 20px 30px;
  color: #888;
  font-size: 26px;
  font-family: 'mulilight';
}
.kimlic_mailing_list button {
  position: absolute;
  right: 6px;
  top: 6px;
  background: #c477fb;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  padding: 18px 0;
  max-width: 220px;
  width: 100%;
  cursor: pointer;
}
.kimlic_mailing_list ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
.kimlic_mailing_list ::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
.kimlic_mailing_list :-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
.kimlic_mailing_list :-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

footer.footer{
  background: url(../images/svg/Footer_Background.svg) no-repeat center center;
  background-size: cover;
  min-height: 800px;
  margin-top: 50px;
  padding: 80px 0;
  color: #fff;
}
footer.footer p img{
  max-width: 200px;
  width: 100%;
}
footer.footer p{
  font-size: 18px;
  font-family: 'mulilight';
  margin-bottom: 30px;
}
footer.footer p span{
  font-family:'mulisemibold';
}
footer.footer h4{
  font-size: 18px;
  text-transform: uppercase;
  margin: 28px 0 42px;
}
footer.footer ul{
  margin: 0;
  padding: 0;
  font-family: 'mulilight';
}
footer.footer ul li{
  list-style: none;
  font-size: 18px;
  width: 50%;
  float: left;
  margin: 5px 0;
}
footer.footer ul li a{
  color: #fff;
}
footer.footer ul li a:hover{
  opacity: 0.6;
}
footer.footer ul li img{
  height: 20px;
  position: relative;
  top: -5px;
  margin-right: 5px;
  width: 30px;
}
footer.footer ul.company li{
  width: 100%;
}
#road_map {
  padding-top: 70px;
}
#road_map:before {
  content: '';
  width: 100%;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
}



/* Animation */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.animatedFadeInUp, .animatedFadeInLeft, .animatedFadeInRight {
  opacity: 0;
}
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
.fadeInLeft {
  opacity: 0;
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
}
.fadeInRight {
  opacity: 0;
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
}


@keyframes fadeInUp {
  from {
    transform:translate3d(0,90px,0);
  }
  to {
    transform:translate3d(0,0,0);
    opacity:1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform:translate3d(0,90px,0);
  }
  to {
    transform:translate3d(0,0,0);
    opacity:1;
  }
}
@keyframes fadeInLeft {
  from {
    transform:translate3d(-40px,0,0);
  }
  to {
    transform:translate3d(0,0,0);
    opacity:1;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    transform:translate3d(-40px,0,0);
  }
  to {
    transform:translate3d(0,0,0);
    opacity:1;
  }
}
@keyframes fadeInRight {
  from {
    transform:translate3d(40px,0,0);
  }
  to {
    transform:translate3d(0,0,0);
    opacity:1;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    transform:translate3d(40px,0,0);
  }
  to {
    transform:translate3d(0,0,0);
    opacity:1;
  }
}